// @font-face {
//     font-family: myFont1;
//     src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
// }

@font-face {
    font-family: myFont1;
    src: url(../fonts/outfit/Outfit-Regular.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/grift/grift-bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

// color
:root {
    --primaryColor: #874429;
    --secondaryColor: #f2b907;
    --textColor: #333;
}

// A555EC
body {
    background: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.048);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(117, 117, 117);
    border-radius: 5px;

    &:hover {
        background: var(--primaryColor);
    }
}

.container {
    width: calc(100% - 200px);
    margin: 0 auto;
    @media (max-width: 1800px) {
        width: calc(100% - 100px);
    }
    @media (max-width: 1024px) {
        width: calc(100% - 60px);
    }
    @media (max-width: 480px) {
        width: calc(100% - 32px);
    }
}

a,
article,
button,
div,
span,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
select,
label,
textarea {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    font-family: myFont1;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    font-family: myFont1;
}

input {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}

textarea {
    resize: none;
    font-family: myFont1;
}

::selection {
    color: white;
    background: #1d1d1d;
}
p {
    font-family: myFont1;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 105;
    background: rgba(0, 0, 0, 0.486);
    display: none;
}

:is(.swiper-button-prev, .swiper-button-next) svg {
    width: 20px !important;
    height: 20px !important;
}

.PopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PopupContent {
    background: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 700px;
    padding: 30px;
    position: relative;
    .CloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 24px;
    }
    &.VideoContainer {
        padding: 0;
        overflow: hidden;
    }
}
.VideoWrapper {
    background: #fff;
    padding: 20px;
}
.Scrollable {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
}
